body {
    margin: 0px;
    font-family: 'Quattrocento Sans', sans-serif;
}
.header {
    background-color: #b7b5b5;
    }
.header-context {
    padding-top: 400px;
    padding-bottom: 400px;
    text-align: center; 
    color: #ffffff;
}
.menu {
    border-bottom-style: solid;
    border-width: .1px;
    border-color: #efefef;
}
.menu-context {
    padding-top: 30px;
    padding-bottom: 30px;      
    text-align: center;
}
.menu-context a {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}
.menu-context a:hover {
    color: #b7b5b5;
}
.workshop-grey {
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #efefef;   
}
.workshop {
    padding-top: 20px;
    padding-bottom: 30px;  
}
.text{
    padding-left: 35%;
    padding-right: 35%;     
}
.chart {
    height: 100%;
    width: 70%;
    display: block;
    margin:auto;
}
.image div svg {
    margin: 0 auto;
    width: 50%;
    margin-left: 70px;
}
h1 {
    font-size: 60px;
    font-weight: lighter;
}
h2 {
    font-size: 14px;
    font-weight: bold;
    text-align: center; 
}
h3 {
    font-size: 25px;
    font-weight: lighter;
    text-align: left; 
    color: #adadad;   
}
p {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: normal;
}
